
/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* TAGS */

body {
  color: #222;
  line-height: 16px;
  margin: 30px;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 30px;
  font-weight: normal;
  margin: 22px 0 18px;
}

h2 {
  font-size: 18px;
  margin: 16px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  line-height: 18px;
}

p {
  line-height: 18px;
  margin: 12px 0;
}

a {
  color: #444;
}

a:hover {
  text-decoration: none;
}


/* LAYOUT */

#page {
  margin: 40px auto 20px auto;
  width: 1000px;
}

#header {
  color: #780808;
  font-family: Georgia, Times, serif;
  font-size: 48px;
  font-weight: bold;
  height: 30px;
  width: 1000px;
}

#content {
  width: 1000px;
}

#primary {
  float: left;
  padding: 0 0 30px 0;
  width: 700px;
}

#sidebar {
  border-left: 1px dotted #DDDDDD;
  float: right;
  font-size: 12px;
  line-height: 12px;
  margin: 18px 0 0 15px;
  padding-left: 15px;
  width: 269px;
}


/* HEADER */

#header a {
  color: #780808;
  text-decoration: none;
}

#header a:hover {
  color: #930000;
  text-decoration: none;
  cursor: pointer;
}


/* SIDEBAR */

#intro {
  font-size: 14px;
  line-height: 16px;
  margin: -12px 0 36px 0;
}

#sidebar h2 {
  margin: 18px 0 12px 0;
}

#sidebar a {
  color: #780808;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar ul {
  list-style-type: none; 
  padding: 0;
  margin: 14px 0;
}

#sidebar li { 
  line-height: 14px;
  margin: 0;
  padding: 1px 0;
}

#sidebar #podcasts {
  width: 200px;
}

#sidebar #podcasts li {
  background: #f1f1f1;
  margin-bottom: 5px;
  height: 27px;
}

#sidebar #podcasts li img {
 float: left;
 margin-right: 8px;
 margin-bottom: -5px;
 border-right: 2px solid #ccc;
 border-bottom: none;
 border-top: none;
 border-left: none;
}

#sidebar #podcasts li span {
  margin-top: 7px;
  display: block;
}

#sidebar #podcasts li a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
  border: none;
}

#sidebar #podcasts li a:hover {
  color: #9F0808;
  background: none;
}

#sidebar p#wwr {
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
}

#sidebar p#wwr a {
  border: none;
}

#sidebar p#feedburner {
  float: left;
  margin: 21px 0 0 15px;
}

#sidebar p#feedburner a {
  border: none;
}


/* CODE HIGHLIGHTS */

.highlight {
  overflow: hidden;
  padding: 10px 10px;
}

pre {
  font-family: Monaco, serif;
  font-size: 12px;
  padding: 0;
}


/* HOMEPAGE */

#headlines {
  padding-top: 4px;
}

.headline {
  margin: 24px 0;
}

.headline h2 {
  display: table-cell;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  font-weight: normal;
}

.headline h2 a {
  color: #222;
  text-decoration: none;
}

.headline h2 a:hover {
  text-decoration: underline;
}

.headline .date {
  color: #666;
  display: table-cell;
  font-size: 20px;
  font-family: Georgia, Times, serif;
  padding: 0 10px 0 0;
  text-align: right;
  width: 125px;
}


/* PAGE */

#post .date {
  color: #666;
  font-family: Georgia, Times, serif;
  font-size: 16px;
  margin: 16px 0;
}

#comments {
  margin-top: 64px;
}

.comment {
  margin: 24px 0;
}

.comment .author {
  font-weight: bold;
}

.comment .date {
  color: #666;
  font-family: Georgia, Times, serif;
}

.note {
  color: #999;
  font-size: 12px;
  margin: 18px 0;
}