
<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://douglasjarquin.com/">Douglas Jarquin</a></span>
<span class="date">June 13, 2008</span>
</div>
<div class="body">
<p>Thank you for the reminder. I keep forgetting to include the reset styles in my SASS. By the way, if you are a TextMate fan checkout the <a href="http://github.com/aussiegeek/ruby-sass-tmbundle/tree/master">Ruby Sass bundle</a> on GitHub.</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://the.railsi.st">Patrick Crowley</a></span>
<span class="date">June 21, 2008</span>
</div>
<div class="body">
<p>Thanks, Douglas. The extra snippets are pretty handy!</p>
</div>
