
<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author">Martijn</span>
<span class="date">November 29, 2007</span>
</div>
<div class="body">
<p>Very interesting. Looking forward to those follow-ups.</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://toolmantim.com">Tim Lucas</a></span>
<span class="date">December 03, 2007</span>
</div>
<div class="body">
<p>Thanks Pat! I got off my ass and improved my validations. I just posted <a href="http://toolmantim.com/article/2007/12/3/rollin_your_own_attachment_fu_messages_evil_twin_stylee">my stab</a> at a plugin for just this, initially based off your code. I've also posted it to the <a href="http://groups.google.com/group/attachment_fu/">attachment_fu</a> google group for comment.</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author">rick</span>
<span class="date">March 03, 2008</span>
</div>
<div class="body">
<p>It was done that way on purpose so you could do cool stuff like this.  I figure it's easier to let you define this stuff in Rails, rather than coming up with my own slick DSL that's constantly being updated for everyone's edge cases.</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://the.railsi.st">Patrick Crowley</a></span>
<span class="date">March 26, 2008</span>
</div>
<div class="body">
<p>Cool, Rick. It's always nice to have options. :)</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://headfirstproductions.ca">Darren</a></span>
<span class="date">April 18, 2008</span>
</div>
<div class="body">
<p>Sweet! This is a nice tutorial for my beginner skills in Ruby. Got my custom errors messages for attachment_fu looking hot!</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author">Luca G.Soave</span>
<span class="date">May 12, 2008</span>
</div>
<div class="body">
<p>Hi Patrick, </p>

<p>Useful article here, as usual. I'm just moving first steps about attachment_fu, looking for a way to upload  ":other" files type ... say opml files,  do you have some exaples to manage something like :</p>

<p>has_attachment	:content_type => ['text/x-opml', 'application/xml', 'text/xml', 'text/html', 'text/plain'],  ....  and eventually the ":storage => :db_file" way ?</p>

<p>Thanks in advance.
<br />
lgs</p>

<p></p>
</div>
