
<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author">Piku</span>
<span class="date">November 14, 2007</span>
</div>
<div class="body">
<p>They are really interesting, but can you put a higher quality version ?</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://the.railsi.st">Patrick Crowley</a></span>
<span class="date">November 15, 2007</span>
</div>
<div class="body">
<p>That's the best we can do for now, Piku.</p>

<p>These are pretty huge files already. We're working on upgrading the quality, but it might be a few months before we can roll something like that out.</p>
</div>
