
<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://www.cotni.org">Doug Johnston</a></span>
<span class="date">March 14, 2008</span>
</div>
<div class="body">
<p>Patrick, buddy, you are not the only one.  This error has been bugging me for the last 20 minutes.  Thanks for the help!!</p>

<p>Doug</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author">rk</span>
<span class="date">April 16, 2008</span>
</div>
<div class="body">
<p>thank you!!!</p>
</div>
