
<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://thelucid.com">Jamie Hill</a></span>
<span class="date">May 25, 2007</span>
</div>
<div class="body">
<p>Your first example, the query would only happen once in production mode since validates_exclusion_of is a class method. It would however only have the widgets that existed the first time your category model was used.</p>
</div>

<!-- Comment -->
<div class="comment">
<div class="attribution">
<span class="author"><a href="http://the.railsi.st">Patrick Crowley</a></span>
<span class="date">May 25, 2007</span>
</div>
<div class="body">
<p>That's interesting, Jamie.</p>

<p>I only looked at this in development mode, but sounds like you'd still want to use my workaround to keep the list of names current.</p>
</div>
